{% extends "index.html" %}
{% block content  %}
  
  <nav class="navbar navbar-expand-lg bg-body-tertiary justify-content-end">
    <div class="container-fluid justify-content-end">
      <!-- Botón para mostrar el menú en dispositivos móviles -->
      <button class="navbar-toggler" type="button" style="background-color: whitesmoke; border-color: black; color: red;" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <div class="collapse navbar-collapse" id="navbar" style="height: 150spx; width: 200px;">
        <div class="container">
          <form class="d-flex " role="search"  action="{% url 'search_cliente' %}" method="GET"  style="width: 300px; height: 60px;">
            <input class="form-control me-2 border border-dark " style="border: black; width: 150px; height: 50px;" type="search" placeholder="Buscar  Cliente" aria-label="Search" name="buscar">
            <button class="btn btn-outline-success"  style="height: 50px;" type="submit">Search</button>
          </form>
            </div>
          </form>
        </div>
      </div>
    </div>
</nav>

<div class="container-fluid py-4">
  <div class="row">
      <div class="col-12">
          <div class="card my-4">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                  <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                      <h2 class="text-white text-capitalize ps-3">CLIENTES</h2>
                  </div>
              </div>
              <div class="card-body px-0 pb-2">
                  <div class="table-responsive p-0">
                      <table class="table align-items-center mb-0">
                          <thead>
                              <tr>
                                  <th class="text-uppercase text-secondary text-lg font-weight-bolder opacity-7">Nombre</th>
                                  <th class="text-uppercase text-secondary text-lg font-weight-bolder opacity-7 ps-2">Numero</th>
                                  <th class="text-center text-uppercase text-secondary text-lg font-weight-bolder opacity-7">Ciudad</th>
                                  <th class="text-center text-uppercase text-secondary text-lg font-weight-bolder opacity-7">Correo</th>
                                  <th class="text-secondary opacity-7"></th>
                              </tr>
                          </thead>
                          <tbody>
                              {% if Clientes %}
                              {% for cliente in Clientes %}
                              <tr>
                                  <td>
                                      <div class="d-flex px-2 py-1">
                                          <div class="d-flex flex-column justify-content-center">
                                              <h2 class="mb-0 text-lg">{{ cliente.nombre }}</h2>
                                          </div>
                                      </div>
                                  </td>
                                  <td>
                                    <h4 class="text-lg text-secondary mb-0">{{cliente.numero }}</h4>
                                  </td>
                                 
                                  <td class="align-middle text-center">
                                      <h4 class="text-secondary text-lg font-weight-bold">{{ cliente.ciudad }}</h4>
                                  </td>
                                  <td class="align-middle text-center">
                                    <h4 class="text-secondary text-lg font-weight-bold">{{ cliente.correo }}</h4>
                                </td>
                                  <td class="align-middle">
                                      <a href="{% url 'modificar_cliente' cliente.id %}" class="text-secondary font-weight-bold text-lg" data-toggle="tooltip" data-original-title="Edit user">
                                          Editar
                                      </a>
                                  </td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                      {% else %}
                      <p>No se encontraron resultados para la búsqueda.</p>  
                   {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


  

{% endblock  %}