<!DOCTYPE html>
<html>
<head>
    <title>Encuesta de Satisfacción</title>
    <!-- Añade el enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Encuesta de Satisfacción</h1>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary mt-3">Enviar</button>
        </form>
    </div>

    <!-- Añade el enlace a Bootstrap JS y dependencias de jQuery y Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
